* {
    margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

@font-face {
    font-family: 'LexendDeca';
    src: url('../public/fonts/LexendDeca-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Glysa';
    src: url('../public/fonts/Glysa.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

h1, .headline1 {
    font-family: Glysa, serif;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0;
}

h2, .headline2 {
    font-family: Glysa, serif;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 0;
}

h3, .headline3 {
    font-family: LexendDeca, serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01rem;
}

.text {
    font-family: LexendDeca, serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.01rem;
}

.message {
    font-family: LexendDeca, serif;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.01rem;
}
