
@media (max-width: 815px) {
    .contactName {
      font-size: 14px; 
    }
}

@media (max-width: 500px) {
    .contactName {
      font-size: 11px; 
    }
    .phoneNumber {
        font-size: 10px;
    }
}

@media (hover :hover) {
    .hoverableIcons {
        opacity: 0;
    }
    
    .hoverableIcons:hover {
        opacity: 1;
    }
    .nonHoverableIcons {
        display: none
    }
}

.hoverableIconsVisibityUnderPopOver {
    opacity: 1;
}

@media (hover: none) {
    .hoverableIcons {
        display: none;
    }
    .iconImg {
        width: 20px;
        height: 20px;
    }
}

.icon {
    color: white;
}

.moreIcon:hover {
    font-size: 14px;
    border-radius: 8px;
    background:  #1E1E1E;
}


.iconImg {
    width: 16px;
    height: 16px;
}

.activeIcon:hover {
    background: var(--grey-g-70, #232323);
}



